
.banner-container {
  position: relative;
  top: 50px;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto !important; 
  padding: 0 20px;           
  box-sizing: border-box;
}

.banner-container .swiper {
  width: 100%;
  margin: 0 auto !important;
  border-radius: 15px;       
  overflow: hidden;
}


.banner-slide {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-slide img {
  width: 100%;
  height: auto; 
  max-height: 400px; 
  object-fit: cover; 
  display: block;
}