@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  background: linear-gradient(to bottom, #0086FF, #ffffff);
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}


.Meio-app {
  padding: 20px;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 30px;
}


.grid h2 {
  width: 100%;
  color: white;
}

.maisve {
  text-shadow: 2px 2px 5px black;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: aparecer 0.8s ease;


}

.modal {
  background: #111;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  color: white;
  max-width: 400px;
  width: 90%;

  & .cores {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }

  & .cor {
    padding: 8px 14px;
    border-radius: 20px;
    border: 2px solid #444;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.25s ease;
  }

  & .cor:hover {
    border-color: #0086FF;
    transform: scale(1.05);
  }


  & .cor.ativo {
    background: #0086FF;
    border-color: #0086FF;
    color: white;
    transform: scale(1.08);
    
  }

  & .fechar {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #0086FF;
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }

  & .fechar:hover {
    transform: scale(1.05);
    opacity: 0.8;
  }
}

.modal img {
  width: 100%;
  border-radius: 10px;
}

.teve span {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 7px black;
  position: absolute;
  top: 618px;
}